body {
	font-family: sans-serif;
	font-size: small;
	background: #999;
	overflow: hidden;
}

.container {
	position: absolute;
	left: 0px;
	top: 0px;
}

.menu {
	background: #7ac;
}
.splitter {
	background: #bcd;
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
}
.viewport {
	border: 1px solid #999;
}
.context {
	background: #fff;
}
.documentTree {
	background: #fff;
	border: 1px solid #999;
	overflow-y: scroll;
}
.treeViewNode {
	cursor: default;
	border-bottom: 1px solid #bcd;
}
.treeViewNode:hover {
	background: #bcd;
}
.treeViewNode .visibility{
	display: inline-block;
	width: 18px;
	height: 18px;
	text-align: center;
	font-size: 13px;
}
.treeViewNode .expand {
	display: inline-block;
	width: 18px;
	height: 18px;
	text-align: center;
	font-size: 13px;
}
.treeViewNode .text {
	display: inline-block;
	height: 17px;
	font-size: 12px;
	position: relative;
	top: 1px;
}

.status {
	background: #bcd;
}

.title {
	display: inline-block;
	padding: 0px 4px 0px 6px;
	cursor: default;
}

.controlPoint {
	fill: #f00;
}
.controlLine {
	fill: none;
	stroke: #f00;
	stroke-width: 2.5;
}

