body {
	font-family: sans-serif;
	font-size: small;
	background: #999;
}

.container {
	display: inline-block;
	border: 1px solid #000;
	background: #fff;
	outline: none;
}

.menu {
	height: 40px;
}
.menu.focus {
	background: #7ac;
}
.menu.blur {
	background: #ddd;
}
.title {
	display: inline-block;
	padding: 0px 4px 0px 6px;
}

.controlPoint {
	fill: #f00;
}
.controlLine {
	fill: none;
	stroke: #f00;
	stroke-width: 0.7;
}

