body {
	font-family: sans-serif;
	background: #999;
}

.container {
	display: inline-block;
	border: 1px solid #000;
	background: #fff;
}
.menu {
	background: #ddd;
	height: 40px;
}

.controlPoint {
	fill: #f00;
}
.controlLine {
	fill: none;
	stroke: #f00;
	stroke-width: 0.7;
}

